<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> quan ly san pham car</h1>
<button><a th:href="@{/cars/add-car}">Add car</a></button>
<table border="1px">
    <tr>
        <td>#</td>
        <td>id</td>
        <td>name</td>
        <td>detail</td>
        <td>price</td>
        <td>day</td>
        <td>action</td>
    </tr>
    <tr th:each="car, state : ${cars}">
        <td th:text="${state.count}"></td>
        <td th:text="${car.name}"></td>
        <td th:text="${car.detail}"></td>
        <td th:text="${car.price}"></td>
        <td th:text="${car.day}"></td>

        <td>
            <button><a th:href="@{'/cars/edit/' + ${car.id}}">Edit</a></button>
            <button>delete</button>
        </td>
    </tr>
</table>
</body>
</html>